/* RESET */
* {
    box-sizing: border-box;
    border: none;
}

a {
    text-decoration: none;
}


/* UTILITIES */

h1 {
    font-size: 100px;
}

img {
    width: 100%;
}

.arrow {
    font-size: 40px;
    margin-top: auto;
}

.margin-20 {
    margin-top: 20px;
    margin-bottom: 20px;

}

.margintop-20 {
    margin-top: 20px;

}

.padding-10 {
    padding: 10px;
}

button {
    display: block;
}

.bill-type {
    padding-left: 20px;
}

.gap {
    display: flex;
    gap: 50px;
}

strong {
    display: block;
    padding-bottom: 10px;
}

.padding-200 {
    padding-bottom: 100px;
}

/* HEADER LAYOUT */

.container-lg {
    width: 100%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    padding: 20px;

}

header .logo {
    max-width: 160px;
    padding-right: 20px;
}

.header-col-1 a,
.header-col-2 a {
    padding-right: 20px;

}

.header-col-1 {
    width: 40%;
    display: flex;
    align-items: center;
}

.header-col-2 {
    width: 25%;
    display: flex;
    margin-left: auto;
}

.blue-button {
    background-color: rgba(52, 52, 199, 0.5);
    align-items: center;
    height: 20px;
    width: 40px;
    color: white;
}

/* HERO LAYOUT */

.blue-button-hero {
    background-color: rgba(52, 52, 199, 0.5);
    align-items: center;
    height: 40px;
    width: 200px;
    color: white;
    margin-bottom: 20px;
}

.container {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    background-color: aqua;
    width: 100%;
}

.row {
    border: 2px solid black;
    display: flex;
    width: 1200px;

}

.col-35 {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.col-65 {
    width: 65%;
}

/* MAIN's LAYOUT */

.container-sm {
    display: flex;
    width: 100%;

    justify-content: center;
}

.row-sm {
    display: flex;
    width: 1000px;
    flex-wrap: wrap;


}

.justify-center {
    display: flex;
    justify-content: center;
}

.col4-12 {
    width: calc((100% - 100px) /3);
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.col12-12 {
    width: 100%;
    border: 1px solid gray;
    padding: 10px;

}


.card-head {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 10px;

}

.gray-line {
    height: 40px;
    width: 52px;
    display: inline-block;
    border-bottom: 2px solid lightgray;
    margin-bottom: 20px;

}