/* RESET */
* {
    box-sizing: border-box;
    border: none;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}



/* UTILITIES */

h1 {
    font-size: 100px;
}

h4 {
    margin: 0px;
}

img {
    width: 100%;
}

.arrow {
    font-size: 40px;
    margin-top: auto;
}

.margin-20 {
    margin-top: 20px;
    margin-bottom: 20px;

}

.padding-60 {
    padding: 60px;

}

.margintop-20 {
    margin-top: 20px;

}

.padding-20 {
    padding: 20px;
}

.margin-160 {
    padding-left: 160;
    padding-bottom: 160;
}

.brown-text {
    color: brown;
}

button {
    display: block;
}

.bill-type {
    padding-left: 20px;
}

.gap {
    display: flex;
    gap: 50px;
}

strong {
    display: block;
    padding-bottom: 10px;
}

.padding-200 {
    padding-bottom: 100px;
}

.padding-40 {
    padding-bottom: 40px;
}

.paddingtop-40 {
    padding-top: 40px;
}

.padding-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* HEADER LAYOUT */

.container-lg {
    width: 100%;

    display: flex;
    align-items: center;


}

header .logo {
    max-width: 160px;
    padding-right: 20px;
}

.header-col-1 a,
.header-col-2 a {
    padding-right: 20px;

}

.header-col-1 {
    width: 40%;
    display: flex;
    align-items: center;
    padding: 20px;
}

.header-col-2 {
    width: 25%;
    display: flex;
    margin-left: auto;


}

.blue-button {
    background-color: rgba(52, 52, 199, 0.5);
    align-items: center;
    height: 20px;
    width: 40px;
    color: white;
}

/* HERO LAYOUT */

.blue-button-hero {
    background-color: rgba(52, 52, 199, 0.5);
    align-items: center;
    height: 40px;
    width: 200px;
    color: white;
    margin-bottom: 20px;
}

.container {

    display: flex;
    justify-content: center;
    background-color: aqua;
    width: 100%;
}

.row {

    display: flex;
    width: 1200px;

}

.col-35 {
    width: 35%;
    display: flex;
    flex-direction: column;

}

.col-65 {
    width: 65%;

}

/* MAIN's LAYOUT */

.container-sm {
    display: flex;
    width: 100%;
    justify-content: center;

}

.row-sm {
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.col2-12 {
    display: flex;
    width: calc(100% / 3);
    flex-direction: column;
    padding-right: 40px;
}

.col4-12 {
    width: calc((100% - 100px) /3);
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.col12-12 {
    width: 100%;
    border: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    margin-bottom: 160px;

}


.card-head {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 10px;

}

.gray-line {
    height: 40px;
    width: 52px;
    display: inline-block;
    border-bottom: 2px solid lightgray;
    margin-bottom: 20px;

}

.inline-block {
    display: inline-block;
    margin-left: auto;
}

.col12-12 h3 {
    display: inline-block;


}

.main-card-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blue-button-hero-main-card-4 {
    display: flex;
    background-color: rgba(52, 52, 199, 0.5);
    align-items: center;
    height: 40px;
    width: 200px;
    color: white;
    justify-content: center;

}

.section-button {

    background-color: rgba(228, 228, 228, 0.5);
    align-items: center;
    height: 40px;
    width: 200px;
    color: rgb(3, 3, 3);
    margin-top: 40px;
    border-top: 1px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 1px solid black;
}


.col2-12-lg {
    display: flex;
    width: calc(100% / 6 * 4);
    flex-direction: column;

}

.col4-12-lg {
    display: flex;
    width: calc(100% / 3 * 4);
    flex-direction: column;
    height: 400px;
    background-color: gray;

}

.img-1 {
    display: flex;
    background-color: lightgreen;
    width: 100%;
    height: 200px;
    padding: 60px;


}

.img-2 {
    display: flex;
    background-color: rgb(0, 110, 255);
    width: 100%;
    height: 200px;
    align-items: center;
    padding: 60px;


}

.img-3 {
    display: flex;
    background-color: brown;
    width: 100%;
    height: 200px;
    align-items: center;
    padding: 60px;


}

.img-4 {
    display: flex;
    background-color: red;
    width: 100%;
    height: 200px;
    align-items: center;
    padding: 60px;


}

.img-5 {
    display: flex;
    background-color: red;
    width: 100%;
    height: 200px;
    align-items: center;
    padding: 60px;


}

.img-6 {
    display: flex;
    background-color: blue;
    width: 100%;
    height: 200px;
    align-items: center;
    padding: 60px;


}

.img-7 {
    display: flex;
    background-color: lightcyan;
    width: 100%;
    height: 200px;
    align-items: center;
    padding: 60px;


}

.img-8 {
    display: flex;
    background-color: yellow;
    width: 100%;
    height: 200px;
    align-items: center;
    padding: 60px;

}

.col4-12-lg {
    padding: 40px;

}

.col4-12-lg img {
    width: 60%;
    padding-bottom: 40px;
}

.bg-black {
    background-color: black;
}

.bg-white {
    background-color: white;
}

.black-text {
    color: black;
}

.bg-cyan {
    background-color: cyan;
}

.container-sm {
    display: flex;
    width: 100%;
    justify-content: center;

}

.row-sm {
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
}

.col12-12-section {
    width: 100%;



}
/* FOOTER's LAYOUT */
.footer-container {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    width: 100%;
}

.row-main-2 {

    min-height: 400px;
    width: 1200px;
    display: flex;
    padding-top: 80px;
}

.row-main-2 a {
    color: white;
}

.col-1-6 {
    width: calc(100% / 5);
    display: flex;
    flex-direction: column;

}



hr {
    width: 100%;
    border: 1px solid black;
}

.business-questions {
    display: flex;


}

.dropbox-info {
    display: flex;
    padding-left: 200px;
}

footer a,
footer h4 {
    padding-bottom: 20px;
}

footer hr {
    width: 120px;
    border: 1px solid gray;
    margin-top: 60px;

}

footer i {
    margin-top: 40px;
    margin-bottom: 40px;
}

footer select {
    background-color: black;
    color: gray;
}